/***********  general ***********/
:root{
    --main-color:#26BAA4;
    --secondary-color:#6173FF;
    --txt-color:#9FABB2;
    --hd-color:#4C545C;
}

.overflow-wrapper{
    overflow-x: hidden;
}

.container{
    width: 76%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

a :hover{
    text-decoration: none;
}

body{
    font-family: 'bai Jamjuree',sans-serif;
    margin: 0;
    padding: 0;
}
/***********  history-section  ************/

.history-section{
    position:relative;
    top: -170px;
}

.history-content{
    text-align: center;
   
}

.history-content h1{
    font-size: 46px;
    color: var(--hd-color);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.75px;
}

.history-content p{
    font-size: 20px;
    color: var(--txt-color);
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.15px;
    padding-bottom: 20px;
}

.iOS{
    width: 227px;
    height: 56px;
    border-radius: 28px;
    border: 0;
    background-color: var(--main-color);
    color: #ffff;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.5px;
    box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset, 0px 10px 20px 0px rgba(137, 229, 199, 0.50);
}

.iOS:hover{
    opacity: 0.5;
}

.mac{
    width: 227px;
    height: 56px;
    border-radius: 28px;
    border: 0;
    color: #ffff;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.5px;
    box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset, 0px 10px 20px 0px rgba(137, 229, 199, 0.50);
    background-color: var(--secondary-color);
}

.mac:hover{
    opacity: 0.5;
}

.btns{
    display: flex;
    justify-content: center;
    gap: 20px;
}

/**************  keep-section  **************/

.keep-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.keep-content h2{
    color: var(--hd-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.587px;
}

.keep-content p{
    width: 730px;
    text-align: center;
    color: var(--txt-color);
    font-size: 18px;
    font-style: normal;
    font-weight:400;
    line-height: 30px;
    letter-spacing: 0.135px;
}

/**************  tasks-section  ************/

.tasks-content{
 display: flex;
 padding-top: 80px;
 margin-bottom: 150px;
}

.text-body{
    width: 350px;
    padding-left: 110px;
}

.tasks-content h3{
    padding-top: 8px;
    font-size: 24px;
    color: var(--hd-color);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing:-0.391px;
}

.tasks-content p{
    color: var(--txt-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.12px;
    padding-bottom: 56px;
}

.imac-img{
    margin-left: -20%;
}

/********  clipboard-section  **********/

.clipboard-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 730px;
    padding-bottom: 150px;
    text-align: center;
}

.clipboard-content h2{
    padding-top: 19px;
    color: var(--hd-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.587px;
}

.clipboard-content p{
    color: var(--txt-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.135px;
    padding-bottom: 111px;
}

.image-devices img{
    margin-left:60px;
}

/*********  supercharge-section  ***********/

.supercharge-content{
    padding-left: 15%;
    text-align: center;
    width: 730px;
    
}

.supercharge-content h2{
    color: var(--hd-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.587px;
}

.supercharge-content p{
    color: var(--txt-color);
    font-size: 18px;
    padding-bottom: 76px;
}
/********  accessibility-section  *********/
.accessibiltiy-section{
    display: flex;
    gap: 30px;
}
.blacklists-content{
    width: 350px;
    text-align: center;
    padding-bottom: 14px;
}

.blacklists-content h3{
    color: var(--hd-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.391px;
    padding-top: 39px;
}

.blacklists-content p{
    color: var(--txt-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.12px;
}

.snippet-content{
 
    width: 350px;
    text-align: center;
    padding-bottom: 14px;
}

.snippet-content h3{
    color: var(--hd-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.391px;
    padding-top: 44px;
   
}

.snippet-content p{
    color: var(--txt-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.12px;
}

.preview-content{
    text-align: center;
    width: 350px;
    padding-bottom: 14px;
   
}

.preview-content h3{
    color: var(--hd-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.391px;
    padding-top: 44px;
}

.preview-content p{
    color: var(--txt-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.12px;
    padding-bottom: 162px;
}

/************  companies-section  ***************/
.companies-content{
    display: flex;
   justify-content: space-between;
   padding-bottom: 161px;
}

/************  apple-content  *************/

.apple-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.apple-content h3{
    color: var(--hd-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.587px;
}

.apple-content p{
    width: 730px;
    color: var(--txt-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.135px;
}

/***********  footer-container  **************/

.bottom-content{
    display: flex;
    align-items: center;
    background-color:#9FABB2;
    width: 1440px;
    height: 150px;
   
}

.bottom-logo{
    padding-left:165px ;
    width: 55px;
    height: 55px;

}